<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']" flex>
  <div flex-gt-sm="100">
       <mat-card>
          <mat-card-title layout>                       
                <span><h1>RelMan</h1></span> 
                
          </mat-card-title>
          
          <mat-divider></mat-divider>
          <mat-card-content>
              <div>
               <mat-nav-list>
                  <mat-list-item [ngStyle]="{ cursor: 'auto' }" *ngFor="let unit of units">
                      {{ unit.name }}
                  </mat-list-item>
               </mat-nav-list>
             </div>
            <mat-card-actions>
                    <a mat-button color="primary" class="text-upper" (click)="requestNextPage()">
                        <span>Ver más</span>
                    </a>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
  </div>
</div>