 							<table class="table" id="unitplus">
                                    <thead>
                                    </thead>
                                    <tbody >
                                        {{#unidades}}
                                            {{#student}}
                                                <tr >
                                                    <td><a href="{{.}}">{{.}}</a></td>
                                                    {{#teacher}}
                                                        <td class="td-actions text-right">
                                                        <ul class="nav navbar-nav">
															                            <li><form action="/delete/{{.}}" method="post">
                                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete">
                                                                <i class="material-icons">delete_forever</i>
                                                            </button>
                                                             <input type="hidden" name="_csrf" value="{{token}}" />
                                                            </form>
                                                          </li>
                                                      	</ul>

                                                        </td>


                                                    {{/teacher}}
                                                </tr>
                                            {{/student}}
                                            {{^student}}
                                                <tr>
                                                    <td>{{.}}</td>
                                                </tr>
                                                {{/student}}
                                        {{/unidades}}
                                    </tbody>
                                </table>