<nav class="navbar navbar-fixed-top navbar-expand bg-white">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">UNIDADES</a>
            </li>
            {{#units}}
                <li class="nav-item">
                    <a class="nav-link" href="{{.}}">
                      {{.}}
                      <button type="submit" href="removeTab/{{.}}" class="btn btn-sm btn-danger btn-link">x</button>
                    </a>
                </li>
            {{/units}}
        </ul>
        <span class="navbar-item">
            <div class="container margin-right">
                {{#student}}
                    <ul class="nav navbar-nav">
                        <li>
                            <form action="/logout" method="post">
                                <button class="btn btn-danger navbar-btn" type="submit">Log Out</button>
                                <input type="hidden" name="_csrf" value="{{token}}" />
                            </form>
                        </li>
                    </ul>
                {{/student}}
                {{^student}}
                    <button type="button" class="btn btn-default btn-link" data-toggle="modal" data-target="#login">
                        Login
                    </button>
                    {{/student}}
            </div>
        </span>
</nav>
