<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="['/unit/',unitName]" routerLinkActive #rla="routerLinkActive"
    [active]="activeLinkIndex === i" (click)="activeLinkIndex = i">Unidad</a>
  <a mat-tab-link [routerLink]="['/unit/',unitName, 'cards']" routerLinkActive #rla2="routerLinkActive"
    [active]="rla2.isActive">Fichas</a>
</nav>
<div>
  <mat-grid-list cols="1" rowHeight="5:1">
    <mat-grid-tile>
      <div class="mycard" *ngFor="let card of cards" flex-gt-sm="95">
        <mat-card>
          <mat-card-title>
            <div layout="row" layout-align="start center">
              <span flex>{{card.type}}</span>
            </div>
          </mat-card-title>
          <mat-card-content layout="row" layout-align="space-between">
            <mat-form-field *ngIf="loginService.isAdmin" appearance="outline">
              <mat-label></mat-label>
              <textarea matInput cdkTextareaAutosize value="{{card.desc}}"></textarea>
            </mat-form-field>
            <p *ngIf="!loginService.isAdmin && loginService.isLogged">{{card.desc}}</p>

            <td-file-upload id="{{card.type}}" color="accent" *ngIf="loginService.isAdmin" #singleFileUpload [(ngModel)]="card.files"
              (select)="selectEvent($event,card)" (upload)="uploadEvent($event, card)" (cancel)="cancelEvent(card)"
              [disabled]="card.disabled">
                <mat-icon>file_upload</mat-icon><span>{{ singleFileUpload.value?.name }}</span>
              <ng-template td-file-input-label>
                <mat-icon>attach_file</mat-icon>
                Subir imagen
              </ng-template>
            </td-file-upload>

            <mat-card-actions *ngIf="loginService.isAdmin">

              <button mat-raised-button class="text-upper" color="primary" (click)="saveChanges(card.type)">
                Guardar
              </button>

            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card-actions *ngIf="lastRequestedPage!=undefined && !lastRequestedPage.last">
    <a mat-button color="primary" class="text-upper" (click)="requestNextPage()">
      <span>Ver más</span>
    </a>
  </mat-card-actions>
</div>