<mat-card class="card" >
  <mat-tab-group dynamicHeight>
    <mat-tab label="Relaciones">
      <div>
        <mat-grid-list cols="3" rowHeight="2:1" gutterSize="1">
          <mat-grid-tile>
            <mat-card>Simple card</mat-card>

          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card>Simple card</mat-card>

          </mat-grid-tile>
          <mat-grid-tile>
<mat-card>Simple card</mat-card>

          </mat-grid-tile>
          <mat-grid-tile>

          </mat-grid-tile>
        </mat-grid-list>
        
      </div>
    </mat-tab>
    <mat-tab label="Unidades">
      <div>
        <mat-chip-list>
          <mat-chip [routerLink]="['/formTheme']" color="primary" selected>Añadir</mat-chip>
        </mat-chip-list>
        
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>