
<div  flex="95" layout-wrap >
      <mat-card >
          <mat-card-title >
            <div layout="row" layout-align="start center">
              <span flex>{{ typeTitle }}</span>
              <span>
                <button mat-icon-button
                        matTooltip="Card settings"
                        [mat-menu-trigger-for]="settings1">
                  <mat-icon>add</mat-icon>
                </button>
                <mat-menu xPosition="before" #settings1="matMenu">
                  <button mat-menu-item (click)="openTemplate()">Añadir</button>
                </mat-menu>
              </span>
            </div>
          </mat-card-title>
          <mat-card-content layout="row" layout-align="space-between">
              <mat-list *ngIf="!reverse">
                <mat-list-item *ngFor="let relation of inheritance">
                  <a matListAvatar mat-icon-button matTooltip="Delete" color="primary" (click)="removeRelation(unitName,typeRelLinksConcrete,relation.origin.name)"><mat-icon>delete</mat-icon></a>
                  <h3 matLine><a [routerLink]="['/unit/',relation.origin.name]" style="color:white;" [ngStyle]="{ cursor: 'auto' }" >{{ relation.origin.name }}</a></h3>
                </mat-list-item>
              </mat-list>
              <mat-list *ngIf="reverse">
                  <mat-list-item *ngFor="let relation of inheritance">
                    <a matListAvatar mat-icon-button matTooltip="Delete" color="primary" (click)="removeRelation(unitName,typeRelLinksConcrete,relation.destiny.name)"><mat-icon>delete</mat-icon></a>
                    <h3 matLine><a style="color:white;"[routerLink]="['/unit/',relation.destiny.name]" [ngStyle]="{ cursor: 'auto' }" >{{ relation.destiny.name }}</a></h3>
                  </mat-list-item>
                </mat-list>
              <mat-card-actions *ngIf="lastRequestedPage!=undefined && !lastRequestedPage.last">
                <a mat-button color="primary" class="text-upper" (click)="requestNextPage()">
                    <span>Ver más</span>
                </a>
              </mat-card-actions>
            </mat-card-content>
        </mat-card>
</div>


<ng-template #dialogContent let-dialogRef="dialogRef">
  <div layout="column" layout-fill>
    <h2 mat-dialog-title>
      Añadir
    </h2>
    <mat-divider></mat-divider>
    <mat-dialog-content flex>
      <form class="pad">
        <div layout="row" layout-margin>
          <mat-form-field class="example-user-input">
            <mat-select [(value)]="selected" placeholder="Elige una">
              <mat-option *ngFor="let unit of units" [value]="unit">
                {{unit.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
        </div>
      </form>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions>
      <button type="button" mat-button class="text-upper" (click)="dialogRef.close()">Cerrar</button>
      <button type="button" mat-button class="text-upper" color="primary" (click)="addRelation(unitName,selected.name,unitName)">Guardar</button>
    </mat-dialog-actions>
  </div>
</ng-template>

<ng-template #dialogContentReverse let-dialogRef="dialogRefReverse">
  <div layout="column" layout-fill>
    <h2 mat-dialog-title>
      Añadir
    </h2>
    <mat-divider></mat-divider>
    <mat-dialog-content flex>
      <form class="pad">
        <div layout="row" layout-margin>
          <mat-form-field class="example-user-input">
            <mat-select [(value)]="selected" placeholder="Elige una">
              <mat-option *ngFor="let unit of units" [value]="unit">
                {{unit.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
        </div>
      </form>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions>
      <button type="button" mat-button class="text-upper" (click)="dialogRef.close()">Cerrar</button>
      <button type="button" mat-button class="text-upper" color="primary" (click)="addRelation(unitName,unitName,selected.name)">Guardar</button>
    </mat-dialog-actions>
  </div>
</ng-template>
