  <nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['/unit/',unitName]" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">Unidad</a>
    <a mat-tab-link [routerLink]="['/unit/',unitName, 'cards']" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">Fichas</a>
  </nav>
      <div  flex="95" layout-wrap >
        <mat-grid-list cols="3" gutterSize="1">
          <mat-grid-tile>
              <div class="mycard" flex-gt-sm="95">
                  <mat-card >
                      <mat-card-title >
                        <div layout="row" layout-align="start center">
                          <span flex>{{ typeRel }}</span>
                          <span>
                            <button mat-icon-button
                                    matTooltip="Card settings"
                                    [mat-menu-trigger-for]="settings1">
                              <mat-icon>add</mat-icon>
                            </button>
                            <mat-menu xPosition="before" #settings1="matMenu">
                              <button mat-menu-item (click)="openTemplate()">Añadir</button>
                            </mat-menu>
                          </span>
                        </div>
                      </mat-card-title>
                      <mat-card-content layout="row" layout-align="space-between">
                          <mat-list>
                            <mat-list-item *ngFor="let relation of inheritance">
                              <a matListAvatar mat-icon-button matTooltip="Delete" color="primary" (click)="removeUnit(unit)"><mat-icon>delete</mat-icon></a>
                              <h3 matLine><a style="color:white;"[routerLink]="['/cards']" [ngStyle]="{ cursor: 'auto' }" >{{ relation.origin.name }}</a></h3>
                            </mat-list-item>
                          </mat-list>
                            
                          <div></div>
                          <mat-card-actions >
                            <div layout="row" LayoutAlign="center">
                              <a mat-raised-button class="text-upper" color="primary">
                                Cargar Diagrama
                            </a>
                            </div>
                          </mat-card-actions>
                        </mat-card-content>
                    </mat-card>
                </div>
          </mat-grid-tile>
          <mat-grid-tile>
              <div  flex-gt-sm="95">
              <mat-card>
                  <mat-card-title>
                    <div>
                      <h3>Card with image</h3>                     
                    </div>
                  </mat-card-title>
                  <mat-card-content layout="row" layout-align="space-between">
                    <div></div>
                    <mat-card-actions layout="column">
                        <a mat-raised-button (click)="openSnackBar('Usuario creado','Cerrar')" class="text-upper" color="primary" [routerLink]="['/login']">
                          <span>Cargar diagrama</span>
                      </a>
                    </mat-card-actions>
                  </mat-card-content>
                </mat-card>
                </div>
          </mat-grid-tile>
        </mat-grid-list>   
      </div>

<ng-template #dialogContent let-dialogRef="dialogRef">
  <div layout="column" layout-fill>
    <h2 mat-dialog-title>
      Añadir
    </h2>
    <mat-divider></mat-divider>
    <mat-dialog-content flex>
      <form class="pad">
        <div layout="row" layout-margin>
          <mat-form-field class="example-user-input">
            <mat-select [(value)]="selected" placeholder="Elige una">
              <mat-option *ngFor="let relation of inheritance" [value]="relation">
                {{relation.origin.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          
        </div>
      </form>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions>
      <button type="button" mat-button class="text-upper" (click)="dialogRef.close()">Cerrar</button>
      <button type="button"  class="text-upper" (click)="addRelation('HTML',selected)">Guardar</button>
    </mat-dialog-actions>
  </div>
</ng-template>
