<div>
    <div>
         <mat-card>
              <mat-card-content>
                      <form>
                          <div layout="column">
                          <h4>Introduce tu usuario</h4>
                          <mat-form-field>
                              <mat-label>Usuario</mat-label>
                                  <input #user matInput placeholder="Usuario">
                          </mat-form-field>
                          <h4>Introduce tu contraseña</h4>
                          <mat-form-field>
                              <mat-label>Contraseña</mat-label>
                                  <input #pass1 matInput placeholder="Contraseña">
                          </mat-form-field>
                          <h4>Confirma la contraseña</h4>
                          <mat-form-field>
                              <mat-label>Contraseña</mat-label>
                                  <input #pass2 matInput placeholder="Contraseña">
                          </mat-form-field>
                          
                          
                          
                      </div> 
                      </form>
                      
                          
                      </mat-card-content>        
              <mat-card-actions>
                  <div layout="column">
                      <a mat-raised-button (click)="register(user.value,pass1.value,pass2.value)" class="text-upper" color="primary" [routerLink]="['/login']">
                        <span>Crear usuario</span>
                    </a>
                  </div>
              </mat-card-actions>
          </mat-card>
    </div>
  </div>